.container {
    background: #3a623f;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-radius: 10px;
}

h3{
    color: #fff;
}

button{
    background-color: #530817;
}